<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Song Details</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e59232f0a1.js" crossorigin="anonymous"></script>

    <style>
        body{
            margin: auto;
            width: 800px;
        }
    </style>


</head>
<body>

<header>
    <h3 class="py-4">Song Details</h3>

    <div class="py-2">
    <a
       href="/songs">
        <button class="btn btn-outline-primary ">Back to Songs List</button>
    </a>
    </div>
</header>
<section>

    <div class="card">
        <div class="card-body">

            <ul class="list-group mb-4">
                <li class="list-group-item"><b th:text="${song.title}"></b></li>
                <li class="list-group-item" th:text="${song.genre}"></li>
                <li class="list-group-item" th:text="${song.releaseYear}"></li>
            </ul>


            <ul class="list-group">
                <li class="list-group-item"><b>Performers</b></li>
                <li class="list-group-item" th:each="performer: ${song.performers}" th:text="${performer.firstName} + ' ' + ${performer.lastName} "></li>
            </ul>

        </div>
    </div>
</section>

</body>
</html>